header {
    display: flex;
    background-color: #274035;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img {
    height: auto;
    width: 45px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
    font-weight: 600;
    margin: 0 10px;
    text-decoration: underline;
}

nav a:hover {
    color: #ffffff;
}

nav a.cesta {
    color: #000000;
    font-weight: normal;
}

.total-items {
    width: 35px;
    height: 35px;
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    background-image: url("../img/carrito.png");
    border-radius: 50%;
    margin-left: 15px;
}

.total-items span {
    border-radius: 50px;
    background-color: #b3daa3;
    width: 24px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: -5px;
    left: -15px;
    padding-top: 4px;
}